// base/_reset.scss

h1, h2, h3, h4, h5, h6, .catalog-title {
    font-family: $font-family-sans-serif;
    font-weight: 700;
}

.menu-catalog {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.catalog-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
    
    .catalog-title {
        color: $dark;
        font-size: 2.5rem; // Tamaño display-6
    }
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; // El cuerpo ocupa siempre el 100% de la altura de la pantalla
}
 
main {
    flex: 1; // Obliga al contenido central a expandirse y empujar el footer hacia abajo
}

// Ajustes de la barra de navegación
.navbar-nav .nav-link {
    white-space: nowrap; // Prohíbe terminantemente que el texto se parta en dos líneas
} 